body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background: #5b3f74;
  font-family: Courier New;
  color: #ffffff;
  font-size: 1vw;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
}

button:hover {
  background: #5b3f74;
  text-decoration: none;
}

.isClicked {
  background: #A8A4CE;
}

.home-div {
  text-align: center;
}

.card {
  font-size: 1vw;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 18%;
  height: 20rem;
  display: inline-grid;
  line-height: .08;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #495C83;
}

.newRestaurantFormContainer {
  text-align: center;
}

input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
